/* IMPORT */
@import url(../css/core.css);

/* HEADER */
.header {
    height: 80px;
    background: #2c2d2f;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.inner_header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* HEADER MENU */

.menu {
    display: flex;
    justify-content: space-around;
    width: 600px;
}

.menu_link a {
    color: var(--orange);
    text-transform: uppercase;
}

.menu_link a:hover {
    text-decoration: underline;
}


/* CARDS */
.content__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}
.card {
    max-width: 280px;
    text-align: center;
    border: 1px solid black;
}
.card h2 {
    font-size: 16px;
    margin: 5px 0;
}
.card__user {
    width: 200px;
    height: auto;
}

/* FOOTER */

.footer {
    background: #2c2d2f;
    width: 100%;
}

.inner_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.footer h2 {
    text-transform: uppercase;
    color: var(--orange);
    font-weight: 600;
}